/* Space out content a bit */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.iconcolor {
  color: #2f78b7;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.navbuttons {
  padding-top:5px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.projectthumb {
  margin-right: 15px;
  margin-bottom: 0px;
}

.projecttext {
  text-align: justify;
}

.tulogo {
  margin-top: -10px;
}

.copyright {
  font-size: 11px;
}

.list-group-item-text{
  color: #635d5d;
}

a.anchor{
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.newsdate {
  margin-left: 5px;
  margin-bottom: 5px;
  float: right;
}

#texthidden {
  display: none;
}

.photo {
  margin-right: 15px;
  margin-bottom: 15px;
  width: 140px;
}

.toptext {
  margin-top: 20px;
}

.tabicon {
  margin-left: 3px;
}

.tooltip-inner {
  white-space: pre-wrap;
}

.blackinfoicon {
  color: #333333;
}

#morenewsbutton {
  float: right;
}

#morenewsrow {
  margin-top: -10px;
  margin-bottom: 30px;
}

.activitylist {
  margin-left: 15px;
  padding-left: 0;
}

.moreinfocolor {
  color: #2f78b7;
}

.downloadicon {
  float:right;
  margin-right:-5px;
}

.researchicon {
  margin-right: 10px;
  margin-bottom: 10px;
}

.downloadiconsupp {
  margin-right:-5px;
  margin-left: 8px;
}

